@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(100, 98, 98);
  background-color: rgb(248, 248, 248);
}
h1 {
  text-align: center;
}
p {
  margin-top: 4rem;
}
.code1title {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  background-color: #afbcfa;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 7px;
  border-left: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
}
.code1 {
  position: relative;
  background-color: #ececec;
  width: 300px;
  padding: 50px;
  margin: 20px;
}
.code2title {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  background-color: #eec4c4;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 7px;
  border-left: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
}
.code2 {
  position: relative;
  background-color: #ececec;
  width: 300px;
  padding: 50px;
  margin: 20px;
}
.code3title {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  background-color: #c6e0c5;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 7px;
  border-left: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
}
.code3 {
  position: relative;
  background-color: #ececec;
  width: 300px;
  padding: 50px;
  margin: 20px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  flex: 1;
  border-radius: 8px;
  border: 1px solid rgb(210, 210, 210);
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
}

@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
